{% extends 'base.html' %}
{% load static %}

{% block title %}Ваши сообщения{% endblock %}

{%block styles%}
<link rel="stylesheet" type="text/css" href="{% static 'buy_styles.css' %}">{% endblock %}


{% block content %}
<div class="chats-199">
    <div class="css-1382m1k">
        <a href="{%url 'user_sell' %}" class="{% if temp == 'sell' %}current-page{%endif%}">Продаю</a>
        <a href="{% url 'user_buy' %}" class="{% if temp == 'buy' %}current-page{%endif%}">Покупаю</a>
    </div>
    <div class="css-1b3tih6">
        {%if chats%}
        {% for chat in chats %}
        <a href="{%url 'chat' chat.id%}">
            <div class="chat-container-445">
                <p class="username-765">{{ chat.receiver.username }} - {{chat.product.title}}</p>
                <p class="last-message-3451">{{ chat.last_message.content|truncatechars:10 }}</p>
                <form action="{% url 'delete_chat' chat.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete chat</button>
                </form>
            </div>
        </a>
        {% endfor %}
        {%else%}
        <p align="center">Сообщений пока нет</p>
        {%endif%}
    </div>
</div>
{% endblock %}
