{% extends 'base.html' %}
{% load static %}

{% block title %}Мои заказы{% endblock %}

{%block styles%}<link rel="stylesheet" type="text/css" href="{% static 'orders.css' %}">{% endblock %}

{% block content %}

<div class="orders-container">
    {% for order in page_obj %}
    <div class="order">
        <p>Имя: {{ order.product.title }}</p>
        <p>Адрес: {{ order.city }}</p>
        <p>Создан: {{ order.created_at }}</p>
    </div>
    {% endfor %}

    <!-- Добавим ссылки на предыдущую и следующую страницы -->

    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current-page">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Предыдущая</a>
        {% endif %}
    </div>
</div>
{% endblock %}
