{% extends 'products/new/base.html' %}
{% load static %}

{% block title %}Мои заказы{% endblock %}

{%block styles%}<link rel="stylesheet" type="text/css" href="{% static 'orders.css' %}">{% endblock %}

{% block content %}
{% if page_obj %}
<div class="orders">
    {% for order in page_obj %}
    <div class="order">
        <p>Имя: {{ order.product.title }}</p>
        <p>Откуда: {{ order.product.user.city }}</p>
        <p>Куда: {{ order.city }}</p>
        <p>Покупатель: {{ order.name }} {{ order.surname }}</p>
        <p>Номер Покупателя: {{ order.phone_number }}</p>
        {% if order.product.user.phone_number %}
        <p>Номер продавца: {{ order.product.user.phone_number }}</p>
        {% endif %}
        <p>Продавец: {{ order.product.user.username }}</p>
        <p>Отделение: {{ order.department }}</p>
        <p>Создан: {{ order.created_at }}</p>
    </div>
    {% endfor %}


    {% if page_obj.has_previous or page_obj.has_next %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current-page">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{%else%}
    <h1 align="center">У вас нет заказов</h1>
{%endif%}
{% endblock %}
