{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<style>
    .phone-number-container {
        display: none;
        margin-top: 10px;
        color: #000;
        font-family: Arial, sans-serif;
        font-size: 16px;
    }
        .buy-button {
        display: inline-block;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    .buy-button:hover {
        background-color: #45a049;
    }
    .product-owner-container {
    background-color: #f9f9f9;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 20px;
    margin-left: 100px 0;
}

    .product-owner-left,
    .product-owner-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .product-owner-title {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }
    .phone-number-link {
        background-color: #007bff;
        color: white;
        padding: 8px 15px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .phone-number-link:hover {
        background-color: #0056b3;
    }

    .phone-number-container {
        display: none;
        margin-top: 10px;
    }

    .product-owner-container.show-phone .phone-number-container {
        display: block;
    }

    .message-link {
        background-color: #28a745;
        color: white;
        padding: 8px 15px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        display: block;
        width: fit-content;
        margin-top: 10px;
    }

    .message-link:hover {
        background-color: #218838;
    }
    .seller-icon{
         margin-top:10px;

    }


</style>

<div class="product-details-container">
    <h2 class="product-title">{{ product.title }}</h2>
    <div class="product-image-container">
        <div class="image-container">
            <div class="slideshow">
                {% if product.thumbnail_1 %}
                <img src="{{ product.thumbnail_1.url }}" alt="{{ product.title }} thumbnail">
                {% endif %}
                {% if product.thumbnail_2 %}
                <img src="{{ product.thumbnail_2.url }}" alt="{{ product.title }} thumbnail">
                {% endif %}
                {% if product.thumbnail_3 %}
                <img src="{{ product.thumbnail_3.url }}" alt="{{ product.title }} thumbnail">
                {% endif %}
            </div>
            <div class="arrow-container">
                <button class="prev-arrow">&lt;</button>
                <button class="next-arrow">&gt;</button>
            </div>
        </div>
    </div>
    <p class="product-description">{{ product.description }}</p>
    <p class="product-price">{{ product.price }} UAH</p>
    {%if product.user.username != user.username%}
    <a href="{% url 'create_order' product.pk %}" class="buy-button">Купить</a>
    {%endif%}
</div>

{% with product.user as owner %}
<div class="product-owner-container">
    <div class="product-owner-left">
        <h3 class="product-owner-title">Продавец: {{ owner.username }}</h3>
    </div>
    <div class="product-owner-right">
        <a href="javascript:void(0);" style="text-decoration:none; color: white" class="phone-number-link"
           onclick="togglePhoneNumber('{{ owner.phone_number }}')">ПОКАЗАТЬ НОМЕР ТЕЛЕФОНА</a>
        <div id="phone-number" class="phone-number-container">
            <p style="font-weight: bold;">{{ owner.phone_number }}</p>
        </div>
    </div>
    {% if user.is_authenticated and owner.username != user.username %}
    <a href="{% url 'create_chat' product.slug %}" class="message-link">Написать</a>
    {% endif %}
    {% if owner == user and user.is_authenticated %}
    <a href="{% url 'seller_messages' product.slug %}" class="message-link">Посмотреть сообщения</a>
    {% endif %}
</div>
{% endwith %}

<script>
    const slideshows = document.querySelectorAll('.slideshow');
    slideshows.forEach(slideshow => {
        const images = Array.from(slideshow.querySelectorAll('img'));
        let currentIndex = 0;
        const prevArrow = slideshow.parentElement.querySelector('.prev-arrow');
        const nextArrow = slideshow.parentElement.querySelector('.next-arrow');

        prevArrow.addEventListener('click', () => {
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            showImage();
        });

        nextArrow.addEventListener('click', () => {
            currentIndex = (currentIndex + 1) % images.length;
            showImage();
        });

        function showImage() {
            images.forEach((image, index) => {
                if (index === currentIndex) {
                    image.style.display = 'block';
                } else {
                    image.style.display = 'none';
                }
            });
        }

        showImage();
    });

    function togglePhoneNumber(phoneNumber) {
        var phoneNumberContainer = document.getElementById("phone-number");
        if (phoneNumberContainer.style.display === "block") {
            phoneNumberContainer.style.display = "none";
        } else {
            phoneNumberContainer.style.display = "block";
        }
    }




</script>

{% endblock %}
