


.bd-ass {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.bd-ass.show {
    opacity: 1;
    transform: translateY(0);
}

p {
    font-size: 18px;
    margin: 10px;
    color: #333;
}

h1 {
    color: #555;
}

.cost {
    color: #007bff; /* Синий цвет ссылки */
    text-decoration: underline; /* Подчеркивание ссылки */
    cursor: pointer; /* Изменение курсора при наведении */
}
