{% extends 'base.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}
<div class="dropdown-container">
    <div class="dropdown">
        <form action="{% url 'home' %}" method="GET">
            <select name="category" id="category-dropdown">
                <option value="">Выберите категорию</option>
                {% for category in categories %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Выбрать</button>
        </form>
    </div>
</div>

{% if products %}
<div class="product-list">
    <div class="product-row">
        {% for product in products %}
        <div class="product-box">
            <div class="product">
                <div class="product-image">
                    <div class="image-container">
                        <div class="slideshow">
                            {% if product.thumbnail_1 %}
                            <img src="{{ product.thumbnail_1.url }}" alt="{{ product.title }} thumbnail">
                            {% endif %}
                            {% if product.thumbnail_2 %}
                            <img src="{{ product.thumbnail_2.url }}" alt="{{ product.title }} thumbnail">
                            {% endif %}
                            {% if product.thumbnail_3 %}
                            <img src="{{ product.thumbnail_3.url }}" alt="{{ product.title }} thumbnail">
                            {% endif %}
                        </div>
                        <div class="arrow-container">
                            <button class="prev-arrow">&lt;</button>
                            <button class="next-arrow">&gt;</button>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.description|truncatechars:100 }}</p>
                    <a href="{% url 'product_detail' product.slug %}">Подробнее</a>
                    <p>{{ product.price }}UAH</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Нет продуктов для выбранной категории.</p>
        {% endfor %}
    </div>
</div>

{% if products.has_other_pages %}
<div class="pagination">
    {% if products.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ products.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in products.paginator.page_range %}
    {% if num == products.number %}
    <span class="current-page">{{ num }}</span>
    {% else %}
    <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">Next</a>
        <a href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
    {%endif%}
</div>
{% endif %}

{% endif %}

<script>
    const slideshows = document.querySelectorAll('.slideshow');
    slideshows.forEach(slideshow => {
        const images = slideshow.querySelectorAll('img');
        let currentIndex = 0;
        const prevArrow = slideshow.parentElement.querySelector('.prev-arrow');
        const nextArrow = slideshow.parentElement.querySelector('.next-arrow');

        prevArrow.addEventListener('click', () => {
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            showImage();
        });

        nextArrow.addEventListener('click', () => {
            currentIndex = (currentIndex + 1) % images.length;
            showImage();
        });

        function showImage() {
            images.forEach((image, index) => {
                if (index === currentIndex) {
                    image.style.display = 'block';
                } else {
                    image.style.display = 'none';
                }
            });
        }

        showImage();
    });

</script>
{% endblock %}
