{% extends 'products/new/base.html' %}
{% load static %}

{% block content %}
{%block styles%}<link rel="stylesheet" type="text/css" href="{% static 'password_reset_done.css' %}">{% endblock %}

<div class="reset-message">
  <h1>Сброс пароля отправлен</h1>
  <p>
    Мы отправили вам инструкции по установке пароля, если существует учетная запись с введенным вами адресом
    электронной почты. Вы должны получить их в ближайшее время.
    Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, который вы указали при регистрации, и
    проверьте папку со спамом.
  </p>
</div>
{% endblock %}
