{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'password_reset_confirm.css' %}">
    <link rel="icon" href="{%static 'icons/icons8-товары-48.png' %}" type="image/x-icon">
</head>
<body>
    <div class="form-container">
        <h1>Сбросить пароль</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сбросить пароль">
        </form>
    </div>
</body>
</html>
